.bread{
    margin-top: 10px;
    height: 30px;
    /*background-color: #4cae4c;*/
}
.breadDiv span,.breadDiv span a{
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.breadDiv span a:hover{
    color: #2aabd2;
    text-decoration: none;
}

.content{
    margin-top: 20px;
}

.contentul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.contentli a img {
    height: 135px;
    width: 160px;
    padding-top: 10px;
}
.contentDiv1{
    height: 150px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom: 1px dashed #dddddd;
}

.contentleft{
    width: 160px;
    float: left;
}
.contentright {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.contentright a{
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.contentright a:hover{
    color: #2aabd2;
    text-decoration: none;
}
.contentright span{
    font-size: 20px;
    color: #FF4466;
    float: right;
    margin-right: 10px;
}
.contentright p{
    font-size: 16px;
}
.contentDiv2{
    height: 150px;
    background-color: #ffffff;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px dashed #dddddd;
}