<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .content{
        margin-left: 300px;
        margin-top: 100px;
    }
    .content span a{
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<body>
{% if status == 1 %}
    <div class="content">
    <h2>{{ msg }}</h2>
        <span><a href="{% url 'index' %}">返回首页</a></span>
        <span><a href="{% url 'operation:pubinfo' %}">继续发布</a></span>
        <span><a href="#"></a>进入个人中心</span>
    </div>
{% else %}
    <div class="content">
    <h2>{{ msg }}</h2>
    <span><a href="{% url 'index' %}">返回首页</a></span>
    <span><a href="{% url 'operation:pubinfo' %}">重新发布</a></span>
    </div>
{% endif %}
</body>
</html>